<div class="container">
  <h1>Aircraft Search</h1>
  <form (ngSubmit)="onSubmit()">
    <mat-radio-group [(ngModel)]="searchType" name="searchType">
      <mat-radio-button value="aircraft" [checked]="searchType === 'aircraft'"
        (change)="onSearchTypeChange('aircraft')">Search by Registration
      </mat-radio-button>
      <mat-radio-button value="callsign" [checked]="searchType === 'callsign'"
        (change)="onSearchTypeChange('callsign')">Search by Callsign</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <mat-label>Enter values (comma-separated)</mat-label>
      <input matInput [(ngModel)]="queries" name="queries" placeholder="eg: N12345, N54321 or UAL123, DAL456" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>

  @if (loading()) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  } @else {

  <div class="results">
    @if (searchValue === 'aircraft' && aircraftResults.length > 0) { @for
    (aircraft of aircraftResults; track aircraft.query) {
    <mat-card class="example-card flip-scale-down " appearance="outlined">
      <mat-card-header>
        <mat-card-title-group class="title-group">
          <mat-card-title>{{ aircraft.query }}</mat-card-title>
          @if (aircraft.data?.url_photo_thumbnail) {
          <img mat-card-md-image [src]="aircraft.data?.url_photo_thumbnail" alt="Aircraft" class="photo" />
          } @else {
          <img mat-card-md-image src="/assets/aircraft.png" alt="Aircraft Photo" class="photo" />
          }
        </mat-card-title-group>
      </mat-card-header>

      @if (aircraft.error) {
      <mat-card-content>
        <p class="error">{{ aircraft.error }}</p>
      </mat-card-content>
      } @else {

      <mat-card-content>
        <mat-list>
          <mat-list-item>Type: {{ aircraft.data?.type }}</mat-list-item>
          <mat-list-item>Manufacturer: {{ aircraft.data?.manufacturer }}</mat-list-item>
          <mat-list-item>Registration: {{ aircraft.data?.registration }}</mat-list-item>
          <mat-list-item>Owner: {{ aircraft.data?.registered_owner }}</mat-list-item>
        </mat-list>
      </mat-card-content>

      }
    </mat-card>
    } } @else if (searchValue === 'callsign' && flightRouteResults.length > 0) {
    @for(flightRoute of flightRouteResults; track flightRoute.query) {

    <mat-card class="example-card fadeInUp-animation" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ flightRoute.query }}</mat-card-title>
      </mat-card-header>

      @if (flightRoute.error) {
      <mat-card-content>
        <p class="error">{{ flightRoute.error }}</p>
      </mat-card-content>
      } @else {

      <mat-card-content>
        <mat-list>
          <mat-list-item>Airline Name: {{ flightRoute.data?.airline?.name }}</mat-list-item>
          <mat-list-item>
            Airline Country: {{ flightRoute.data?.airline?.country }}
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Origin Details</span>
          </mat-list-item>
          <mat-list-item>Country: {{flightRoute.data?.origin?.country_name}}</mat-list-item>
          <mat-list-item>Airport Name: {{flightRoute.data?.origin?.name}}</mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Destination Details</span>
          </mat-list-item>
          <mat-list-item>Country: {{flightRoute.data?.destination?.country_name}}</mat-list-item>
          <mat-list-item>Airport Name: {{flightRoute.data?.destination?.name}}</mat-list-item>
        </mat-list>

      </mat-card-content>
      }
    </mat-card>
    } } @else {
    <p class="txt_center">Welcome to Flight search service!</p>
    }
  </div>

  }
</div>
