.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 20px;
}
.photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.error {
  color: red;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.title-group {
  align-items: center;
  text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

[matListItemTitle] {
  font-weight: bold;
  color: #3b3bbc;
}

.txt_center {
  text-align: center;
}


.flip-scale-down {
  animation: flip-scale-down 0.3s ease forwards;
}

@keyframes flip-scale-down {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, -100deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}